body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c9184a;
    color: #590d22;
    border-bottom: 7px solid #a4133c;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

img {
    border: 5px solid #590d22;
    border-radius: 40%;
}

.hovering:hover {
    color: #ff4d6d;
    cursor:-webkit-grab;
    text-shadow: 3px 3px #a4133c;
}

.hoveringImg:hover {
    border: 5px solid #ff4d6d;
    border-radius: 40%;
}